<header class="product-grid-header">
  <div class="mr-3 mb-3">

    Showing <strong>1-12 </strong>of <strong>158 </strong>products
  </div>
  <div class="mr-3 mb-3"><span class="mr-2">Show</span>
    <ng-container *ngFor="let ps of pageSizes;">
      <a class="product-grid-header-show" [ngClass]="{'active':pageSize == ps}" (click)="setPageSize(ps)">{{ps}}</a>
    </ng-container>
  </div>
  <div class="mb-3 d-flex align-items-center">
    <span class="d-inline-block mr-1">Sort by</span>
    <select class="custom-select w-auto border-0">
      <option value="orderby_0">Default</option>
      <option value="orderby_1">Popularity</option>
      <option value="orderby_2">Rating</option>
      <option value="orderby_3">Newest first</option>
    </select>
  </div>
</header>
