<header class="product-grid-header">
  <div class="mr-3 mb-3">

    Showing <strong>1-{{pageSize}} </strong>of <strong>158 </strong>products
  </div>
  <div class="mr-3 mb-3"><span class="mr-2">Show</span>
    <ng-container *ngFor="let ps of pageSizes;">
      <a class="product-grid-header-show" [ngClass]="{'active':pageSize == ps}" (click)="setPageSize(ps)">{{ps}}</a>
    </ng-container>
  </div>
  <div class="mb-3 d-flex align-items-center">
    <span class="d-inline-block mr-1">Sort by</span>
    <select class="custom-select w-auto border-0" (change)="changeSort($event)">
      <option value="name">Name - A to Z</option>
      <option value="-name">Name - Z to A</option>
      <option value="-created_on">Newest first</option>
      <option value="-price">Price - High to Low</option>
      <option value="price">Price - Low to High</option>
    </select>
  </div>
</header>
