<section class="py-6 brands">
  <div class="container">
    <h4 class="text-uppercase text-center mb-5">Our brands</h4>
    <owl-carousel
      [options]="sliderOptions"
      [items]="brands"
      [carouselClasses]="['owl-carousel', 'owl-theme', 'brands-slider']"
    >
      <div class="item d-flex align-items-center justify-content-center" *ngFor="let brand of brands; let i = index">
        <div class="w-6rem" *ngIf="brand.images.length">
          <img [src]="brand.images[0].image | image" [alt]="brand.name" class="img-fluid" />
        </div>
      </div>
    </owl-carousel>
  </div>
</section>
