<div *ngIf="category">
  <app-banner [category]="category"></app-banner>
  <main class="pt-5">
    <div class="container">
      <div class="row">
        <div class="products-grid col-xl-9 col-lg-8 order-lg-2">
          <app-category-header></app-category-header>
          <app-products [category]="category" [paginationConfig]="paginationConfig"></app-products>
          <pagination-controls [id]="paginationConfig.id" maxSize="5" directionLinks="true" (pageChange)="onPageChange($event)"></pagination-controls>
          <!--<app-pagination [config]="paginationConfig"></app-pagination>-->
        </div>
        <div class="sidebar col-xl-3 col-lg-4 order-lg-1">
          <app-filters></app-filters>
        </div>
      </div>
    </div>
  </main>
</div>
