<section class="pt-6 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h2 class="text-uppercase">{{collection.name}}</h2>
        <p class="lead text-muted">{{collection?.SEO?.description}}</p>
      </div>
      <!-- Products Slider-->
      <owl-carousel [options]="sliderOptions"
                    [items]="products"
                    [carouselClasses]="['owl-carousel','owl-theme', 'product-slider']">
        <div class="item product-slider-item" *ngFor="let product of products;">
          <app-product-grid-item [product]="product"></app-product-grid-item>
        </div>
      </owl-carousel>
    </div>
  </div>
</section>
