<section class="pt-6 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h2 class="text-uppercase">{{collection.name}}</h2>
        <p class="lead text-muted">{{collection?.SEO?.description}}</p>
      </div>
      <!-- Products Slider-->
      <div class="owl-carousel owl-theme product-slider">
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image">
              <div class="ribbon ribbon-primary">Sale</div>
              <img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/kyle-loftus-596319-unsplash.jpg"
                   alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Accessories</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">College jacket</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image"><img
              src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/ethan-haddox-484912-unsplash.jpg"
              alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Denim</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Carrot-fit jeans</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image"><img
              src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/serrah-galos-494231-unsplash.jpg"
              alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Jackets</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Striped T-Shirt</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image"><img
              src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/averie-woodard-319832-unsplash.jpg"
              alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Shirts</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Short top</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image">
              <div class="ribbon ribbon-danger">Sold out</div>
              <img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/serrah-galos-494279-unsplash.jpg"
                   alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Sweaters</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Ethnic Sweater</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image"><img
              src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/dmitriy-ilkevich-437760-unsplash.jpg"
              alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Coats</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Beige</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image"><img
              src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/ian-dooley-347968-unsplash.jpg"
              alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">T-Shirts</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Skull Tee</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image"><img
              src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/alex-holyoake-571682-unsplash.jpg"
              alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Denim</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Trucker jacket</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image"><img
              src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/ao-456813-unsplash.jpg" alt="product"
              class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Denim</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Blouse</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
        <!-- product-->
        <div class="product-slider-item">
          <div class="product">
            <div class="product-image"><img
              src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/product/kyle-loftus-592041-unsplash.jpg"
              alt="product" class="img-fluid"/>
              <div class="product-hover-overlay"><a href="detail.html" class="product-hover-overlay-link"></a>
                <div class="product-hover-overlay-buttons"><a href="detail.html" class="btn btn-dark btn-buy"><i
                  class="fa-search fa"></i><span class="btn-buy-label ml-2">View</span></a>
                </div>
              </div>
            </div>
            <div class="py-2">
              <p class="text-muted text-sm mb-1">Denim</p>
              <h3 class="h6 text-uppercase mb-1"><a href="detail.html" class="text-dark">Shirt</a></h3><span
              class="text-muted">$40.00</span>
            </div>
          </div>
        </div>
        <!-- /product-->
      </div>
    </div>
  </div>
</section>
