<section class="position-relative dark-overlay py-3 py-lg-7">
  <img
    src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/photo/erii-gutierrez-487083-unsplash.jpg" alt=""
    class="bg-image">
  <div class="container overlay-content hero hero-page">
    <ul class="breadcrumb justify-content-center no-border mb-0">
      <li class="breadcrumb-item"><a routerLink="/" class="text-white">Home</a></li>
      <li class="breadcrumb-item text-white active">Ladies</li>
    </ul>
    <div class="hero-content pb-5 text-center text-white">
      <h1 class="hero-heading">Ladies</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
    </div>
  </div>
</section>
