<section class="position-relative dark-overlay py-3 py-lg-7" *ngIf="category">
  <img [src]="category.image.image" [alt]="category.image.caption"
       class="bg-image">
  <div class="container overlay-content hero hero-page">
    <ul class="breadcrumb justify-content-center no-border mb-0">
      <li class="breadcrumb-item">
        <a routerLink="/" class="text-white">Home</a></li>
      <li class="breadcrumb-item text-white active">{{category.name}}</li>
    </ul>
    <div class="hero-content pb-5 text-center text-white">
      <h1 class="hero-heading">{{category.name}}</h1>
      <p class="lead" [innerHTML]="category.description"></p>
    </div>
  </div>
</section>
