<section class="py-6 position-relative light-overlay">
  <img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/photo/benjamin-voros-260869-unsplash.jpg"
       alt="" class="bg-image">
  <div class="container">
    <div class="overlay-content text-center text-dark">
      <p class="text-uppercase font-weight-bold mb-1 letter-spacing-5">Old Collection </p>
      <h3 class="display-1 font-weight-bold text-serif mb-4">Summer Sales</h3>
      <a routerLink="/"
         class="btn btn-dark">Shop Now</a>
    </div>
  </div>
</section>
