<footer class="main-footer">
  <!-- Services block-->
  <div class="bg-gray-100 text-dark-700 py-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#delivery-time-1"> </use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">Free shipping &amp; return</h6>
            <p class="text-muted font-weight-light text-sm mb-0">Free Shipping over $300</p>
          </div>
        </div>
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#money-1"> </use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">Money back guarantee</h6>
            <p class="text-muted font-weight-light text-sm mb-0">30 Days Money Back Guarantee</p>
          </div>
        </div>
        <div class="col-lg-4 service-column">
          <svg class="svg-icon service-icon">
            <use xlink:href="#customer-support-1"> </use>
          </svg>
          <div class="service-text">
            <h6 class="text-uppercase">020-800-456-747</h6>
            <p class="text-muted font-weight-light text-sm mb-0">24/7 Available Support</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main block - menus, subscribe form-->
  <div class="py-6 bg-gray-300 text-muted">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <div class="font-weight-bold text-uppercase text-lg text-dark mb-3">Sell<span class="text-primary">.</span></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" target="_blank" title="twitter" class="text-muted text-hover-primary"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="facebook" class="text-muted text-hover-primary"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="instagram" class="text-muted text-hover-primary"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="pinterest" class="text-muted text-hover-primary"><fa-icon [icon]="faPinterest"></fa-icon></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="vimeo" class="text-muted text-hover-primary"><fa-icon [icon]="faVimeo"></fa-icon></a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-dark mb-3">Shop</h6>
          <ul class="list-unstyled">
            <li> <a href="#" class="text-muted">For Women</a></li>
            <li> <a href="#" class="text-muted">For Men</a></li>
            <li> <a href="#" class="text-muted">Stores</a></li>
            <li> <a href="#" class="text-muted">Our Blog</a></li>
            <li> <a href="#" class="text-muted">Shop</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
          <h6 class="text-uppercase text-dark mb-3">Company</h6>
          <ul class="list-unstyled">
            <li> <a href="#" class="text-muted">Login                    </a></li>
            <li> <a href="#" class="text-muted">Register                    </a></li>
            <li> <a href="#" class="text-muted">Wishlist                    </a></li>
            <li> <a href="#" class="text-muted">Our Products                    </a></li>
            <li> <a href="#" class="text-muted">Checkouts                    </a></li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h6 class="text-uppercase text-dark mb-3">Daily Offers & Discounts</h6>
          <p class="mb-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. At itaque temporibus.</p>
          <form action="#" id="newsletter-form">
            <div class="input-group mb-3">
              <input type="email" placeholder="Your Email Address" aria-label="Your Email Address" class="form-control bg-transparent border-secondary border-right-0">
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary border-left-0"><fa-icon [icon]="faPaperPlane" class="text-dark"></fa-icon></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright section of the footer-->
  <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 text-center text-md-left">
          <p class="mb-md-0">&copy; 2018 Your company.  All rights reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/visa.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/mastercard.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/paypal.svg" alt="..." class="w-2rem"></li>
            <li class="list-inline-item"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/western-union.svg" alt="..." class="w-2rem"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
