<section>
  <div class="container py-6">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center mb-5">
        <h2 class="text-uppercase">Our picks for Winter 2018 </h2>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="row align-items-md-stretch">
      <div class="col-lg-4 d-flex align-items-lg-stretch">
        <div style="background: center center url(https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/photo/rahul-anil-214671-unsplash.jpg) no-repeat; background-size: cover;" class="d-flex align-items-center text-white border-0 w-100 py-6 py-lg-4 text-center mb-30px mb-lg-0"><a routerLink="/" class="tile-link"> </a>
          <div class="w-100">
            <h1 class="text-uppercase">Men</h1>
            <p class="lead">Consectetur adipisicing elit sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card light-overlay text-dark border-0 mb-30px"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/photo/pete-bellis-189599-unsplash.jpg" alt="Card image" class="card-img"><a routerLink="/" class="tile-link"> </a>
          <div class="card-img-overlay d-flex align-items-center">
            <div class="text-center w-100 overlay-content">
              <h1 class="text-uppercase">Ladies</h1>
              <p class="lead">Consectetur adipisicing elit sed do eiusmod tempor.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card text-white border-0 mb-lg-0 mb-30px"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/photo/haley-phelps-62815-unsplash.jpg" alt="Card image" class="card-img"><a routerLink="/" class="tile-link"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100">
                  <h2 class="text-uppercase mb-0">Denim</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card dark-overlay text-white border-0 mb-lg-0 mb-30px"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/photo/matese-fields-233175-unsplash.jpg" alt="Card image" class="card-img"><a routerLink="/" class="tile-link"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100 overlay-content">
                  <h4 class="text-uppercase mb-0">Accessories</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card text-white border-0"><img src="https://d19m59y37dris4.cloudfront.net/sell/1-2-2/img/photo/brooke-cagle-195856-unsplash.jpg" alt="Card image" class="card-img"><a routerLink="/" class="tile-link"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100">
                  <h2 class="text-uppercase mb-0">Sales</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
