<div class="block mb-5">
  <div class="block-header"><strong class="text-uppercase">Change your password</strong></div>
  <div class="block-body">
    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password_old" class="form-label">Old password</label>
            <input id="password_old" type="password" class="form-control" formControlName="password">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password_1" class="form-label">New password</label>
            <input id="password_1" type="password" class="form-control" formControlName="newPassword"/>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password_2" class="form-label">Retype new password</label>
            <input id="password_2" type="password" class="form-control" formControlName="confirmPassword"/>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">
        <button type="submit" [disabled]="!passwordForm.valid" class="btn btn-outline-dark">
          <i class="far fa-save mr-2"></i>
          Change password
        </button>
      </div>
    </form>
  </div>
</div>
<div class="block mb-5">
  <div class="block-header"><strong class="text-uppercase">Personal details</strong></div>
  <div class="block-body">
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="firstname" class="form-label">Firstname</label>
            <input id="firstname" type="text" class="form-control" formControlName="firstName" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="lastname" class="form-label">Lastname</label>
            <input id="lastname" type="text" class="form-control" formControlName="lastName" />
          </div>
        </div>
      </div>
      <!-- /.row-->
      <div class="row">
        <div class="col-sm-6">
          <label for="gender" class="form-label">Gender</label>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="gender" type="radio" id="male" value="male">
              <label class="form-check-label" for="male">M</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" formControlName="gender" type="radio" id="female" value="female">
              <label class="form-check-label" for="female">F</label>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="street" class="form-label">DOB</label>
            <input id="street" type="date" class="form-control" formControlName="DOB">
          </div>
        </div>
      </div>
      <!-- /.row-->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="phone" class="form-label">Telephone</label>
            <input id="phone" type="text" class="form-control" formControlName="phone" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="text" class="form-control" formControlName="email" />
          </div>
        </div>
      </div>
      <!-- /.row-->
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-outline-dark"><i class="far fa-save mr-2"></i>Save changes</button>
      </div>
    </form>
  </div>
</div>
