<div class="cart-item">
  <div class="row d-flex align-items-center text-center">
    <div class="col-6">
      <div class="d-flex align-items-center">
        <a [routerLink]="['product',item.product_id]"><img
          [src]="item.image_url"
          [alt]="item.name" class="cart-item-img">
        </a>
        <div class="cart-title text-left">
          <a [routerLink]="['product',item.product_id]" class="text-uppercase text-dark">
            <strong>{{item.name}}</strong>
          </a><br>
          <span class="text-muted text-sm">Size: Large</span><br>
          <span class="text-muted text-sm">Colour: Green</span>
        </div>
      </div>
    </div>
    <div class="col-2">{{item.price|currency}}</div>
    <div class="col-2">{{item.quantity}}
    </div>
    <div class="col-2 text-center">{{item.total|currency}}</div>
  </div>
</div>
