<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Your profile</li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">Your profile</h1>
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          <p class="lead text-muted">
            Maecenas sollicitudin. In rutrum. In convallis.
            Nunc tincidunt ante vitae massa. Cras pede libero, dapibus nec,
            pretium sit amet, tempor quis. Fusce dui leo, imperdiet in.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-xl-9">
        <router-outlet></router-outlet>
      </div>
      <div class="col-xl-3 col-lg-4 mb-5">
        <app-user-sidebar [sidebarSections]="sidebarSections"></app-user-sidebar>
      </div>
    </div>
  </div>
</section>
