<!-- Hero Section-->
<section class="hero">
  <div class="container">
    <!-- Breadcrumbs -->
    <ol class="breadcrumb justify-content-center">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Checkout</li>
    </ol>
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h1 class="hero-heading">Checkout</h1>
      <div class="row">
        <div class="col-xl-8 offset-xl-2">
          <p class="lead text-muted">Please fill in your address.</p></div>
      </div>
    </div>
  </div>
</section>
<!-- Checkout-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="custom-nav nav nav-pills mb-5">
          <li class="nav-item w-25" *ngFor="let section of sections;">
            <a [routerLink]="section.url" routerLinkActive="active" class="nav-link text-sm"
               [ngClass]="{'disabled':section.disabled}">{{section.title}}</a>
          </li>
        </ul>
        <router-outlet></router-outlet>
      </div>
      <div class="col-lg-4">
        <div class="block mb-5">
          <div class="block-header">
            <h6 class="text-uppercase mb-0">Order Summary</h6>
          </div>
          <div class="block-body bg-light pt-1">
            <p class="text-sm">Shipping and additional costs are calculated based on values you have entered.</p>
            <ul class="order-summary mb-0 list-unstyled">
              <li class="order-summary-item"><span>Order Subtotal </span><span>{{cart.sub_total|currency}}</span></li>
              <li class="order-summary-item">
                <span>Shipping and handling</span><span>{{cart.shipping_total|currency}}</span></li>
              <li class="order-summary-item"><span>Tax</span><span>{{cart.taxes_total|currency}}</span></li>
              <li class="order-summary-item border-0"><span>Total</span><strong
                class="order-summary-total">{{cart.total|currency}}</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
