<section class="home-full-slider-wrapper mb-10px">
  <owl-carousel
    [options]="sliderOptions"
    [items]="slides"
    [carouselClasses]="['owl-carousel', 'owl-theme', 'home-full-slider']"
  >
    <div class="item home-full-item" *ngFor="let slide of slides; let i = index">
      <img [src]="slide.image | image" [alt]="slide.title" class="bg-image" />
      <div [innerHTML]="slide.description"></div>
    </div>
  </owl-carousel>

  <!--<ngu-carousel #landingBanners [inputs]="sliderOptions" [dataSource]="slides">-->
  <!--<ngu-item *nguCarouselDef="let slide; let i = index;" class="bannerStyle">-->
  <!--<img [src]="slide.image" alt="" class="bg-image" style="display: block; width: 100%;">-->
  <!--</ngu-item>-->
  <!--<button NguCarouselPrev class='leftRs d-none d-sm-block'></button>-->
  <!--<button NguCarouselNext class='rightRs d-none d-sm-block'></button>-->
  <!--</ngu-carousel>-->
</section>
